html {
  background: #f6f5f3;
  font-family: "Titillium Web";
}

.buttonPull {
  width: 200px;
  height: 60px;
  border-radius: 62% 38% 21% 79% / 58% 11% 89% 42%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0489d1), to(#0489d1));
  background: linear-gradient(180deg, #0489d1 0%, #0489d1 100%);
  font-size: 20px;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window {
  width: 500px;
  height: 320px;
  background: #f0f0f0;
}

.window__header {
  height: 50px;
  background: #4a4949;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  color: #fff;
  font-size-adjust: 14px;
}

.window__main {
  border: 1px solid #4a4949;
  border-radius: 0 0 5px 5px;
}

.window__main__inner-block {
  margin: 20px;
  padding: 15px 0 0 15px;
  border: 1px solid #dad5d5;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.window__main__inner-block .left-text {
  margin-left: auto;
  margin-right: 10px;
  font-weight: 600;
}

.window__main__inner-block .blue-line {
  background: #0489d1;
  border: 3px solid #cecece;
  height: 10px;
  margin: auto 5px;
  margin-right: 0;
  position: relative;
}

.window__main__inner-block .price-moving-block {
  width: 70px;
  height: 50px;
  position: absolute;
}

.window__main__inner-block .price-moving-block .container {
  position: relative;
}

.window__main__inner-block .price-moving-block .container .price {
  position: absolute;
}

.window__main__inner-block .price-moving-block .container .arrow {
  position: absolute;
  height: 11px;
  width: 11px;
  -webkit-clip-path: polygon(50% 0%, 0 81%, 100% 82%);
          clip-path: polygon(50% 0%, 0 81%, 100% 82%);
  background: #626262;
  top: 15px;
  left: 5px;
}

.window__main__inner-block .price-static-block {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, right top, left top, from(#979d87), to(#78777a));
  background: linear-gradient(270deg, #979d87 0%, #78777a 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window__main__inner-block .price-static-block__text-large {
  padding-bottom: 0;
  display: inline-block;
  padding-top: 2px;
  margin: 0 0 -5px 0;
  border-bottom: 1px #7c7a7a solid;
  font-size: 18px;
  font-weight: 400;
}

.window__main__inner-block .price-static-block__text-small {
  padding-top: 0;
  display: inline-block;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.window__main__inner-block .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin: 0 auto;
}

.window__main__inner-block .footer i {
  -webkit-filter: invert(56%) sepia(9%) saturate(1721%) hue-rotate(159deg) brightness(93%) contrast(87%);
          filter: invert(56%) sepia(9%) saturate(1721%) hue-rotate(159deg) brightness(93%) contrast(87%);
}
/*# sourceMappingURL=window.css.map */